doctype html
html(lang="en")
  head
    title= title
    meta(charset = "UTF-8")
    link(rel="stylesheet" type="text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    link(rel="stylesheet" type="text/css" href="/static/css/style.css")
    meta(viewport="width=device-width, initial-scale=1.0")

    
  body
    block content

  footer
    p Team Testo