doctype html
html(lang="en")
  head
    title= title
    meta(charset = "UTF-8")
    link(rel="stylesheet" type="text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js")
    link(rel="stylesheet" type="text/css" href="/static/css/admin.css")
    meta(viewport="width=device-width, initial-scale=1.0")

  body

    //.topbar-m
      .ui.grid.fluid
        .twelve.wide.column
          a(href='')
            .menu-logo.img-responsive
        .four.wide.column
          button.menu-btn
            i.icon.list.big.sidebar
      .ui.top.right.dropdown.menu-m
        .menu
          .header
            p Yleiset
          .scrolling.menu
            a.item(href='tracking') Seuranta
          .scrolling.menu
            a.item(href='employees') Työntekijät
          .scrolling.menu
            a.item(href='cars') Autot
          .scrolling.menu
            a.item(href='routes') Reitit
          .divider
          .header
            p Asetukset
          .scrolling.menu
            a.item(href='password') Salasana
    //.topbar
      .topbar-logo.pull-left
      .topbar-menu.fluid
        nav.topbar-nav.pull-right
          a(href='logout')
            i.fa.fa-sign-out Kirjaudu Ulos
    //.ui.sidebar.secondary.vertical.pointing.menu.visible.uncover.sidebar-navigation
      .header.item
        p Yleiset
      a.item(href='tracking') Seuranta
      a.item(href='employees') Työntekijät
      a.item(href='cars') Autot
      a.item(href='routes') Reitit
      .header.item
        p Asetukset
      a.item(href='password') Salasana
    .ui.top.huge.fixed.menu.top-menu
      .item.navigation-logo
        img(src="/static/images/logo.jpg").ui.image
      a.item(href='tracking') Seuranta
      .dropdown-menu.menu
        .ui.dropdown.item(href='employees') Työntekijät
          i.angle.down.icon
          .dropdown-content.menu
            a.item(href='employees') Kaikki työntekijät
            a.item(href='toplist') Top lista
      a.item(href='cars') Autot
      a.item(href='routes') Reitit
      a.item(href='message') Viestit
      .right.menu
        a.ui.item(href='logout') Kirjaudu ulos
    .pusher
      .ui.fluid.container.main-content
        block content

  script.
    $('.menu-m').dropdown();
    $('.menu-btn').click(function(){
      $('.menu-m').dropdown('toggle');
    });
    $(".dropdown").dropdown({forceSelection: false});

  block scripts
