extends ../layouts/admin.pug

block content
    h1.ui.dividing.header= title
    button(data-action="add-car").ui.orange.button Lisää uusi auto
    table.ui.table#cars-table
        thead
            tr
                th.eight.wide Auto
                th.six.wide
                th.two.wide
        tbody
            tr
                td
                td

        .ui.modal#modal-add-car
            i.close.icon
            .header Lisää uusi auto
            .content
                .ui.form
                    label Lisää rekisterinumero
                    input(name="rekisterinumero" placeholder="ABC-123" type="text")
            .actions
                .ui.cancel.icon.red.button
                    i.remove.icon
                    |Peruuta
                .ui.positive.button Lisää työntekijä
block scripts
    script.
        function loadCars(){
            $.ajax({
                url: "http://localhost:8080/api/cars",
                method: "GET",
                type: "JSON",
                success: function(response){
                    if(!!response.success && response.success){
                        if(response.data.length > 0){
                            $("#cars-table tbody").html("");
                            for(var i = 0; i < response.data.length; i++){
                                var row = $('<tr />');
                                $("#cars-table tbody").append(row);
                                row.append('<td>' + response.data[i].name + '</td>');
                                row.append("<td><div class='two ui buttons'>" +
                                    "<button class='ui red icon button' data-action=''><i class='remove icon'/>Poista</button>" +
                                    "<button class='ui icon button' data-action=''><i class='settings icon'/>Muokkaa</button>" +
                                    "</div></td>");
                                row.append('<td/>');
                            }
                        }
                    }else{
                        alert("Failed to load data: " + data.message);
                    }
                },
                error: function(err){
                    alert("Failed to load data: " + JSON.stringify(err));
                }
            });
        }

        $(function(){
            loadCars();
        });

        $("#modal-add-car").modal();
        $(document).on('click', 'button[data-action=add-car]', function () {
            $("#modal-add-car").modal('show');
        });