extends ../layouts/admin.pug

block content
	h1.ui.dividing.header= title
	button(data-action="add-employee").ui.orange.button Lisää uusi työntekijä

	table.ui.table#employees-table
		thead
			tr
				th Etunimi
				th Sukunimi
				th Käyttäjänimi
				th
		tbody
			tr
				td(colspan="4") Ei työntekijöitä...

	.ui.modal#modal-add-employee
		i.close.icon
		.header Lisää uusi työntekijä
		.content
			.description
				.ui.form
					.field
						label Etunimi
						input(type="text", name="firstname")
					.field
						label Sukunimi
						input(type="text", name="lastname")
					.field
						label Käyttäjätunnus
						input(type="text", name="username")
					.field
						label Salasana
						input(type="text", name="password")
					button(type="button", data-action="save-employee").ui.orange.button Lisää työntekijä
		.actions
			.ui.button Peruuta

block scripts
	script.
		function loadEmployees(){
			$.ajax({
				url: "http://localhost:8080/api/employees",
				method: "GET",
				type: "JSON",
				success: function(response){
					if(!!response.success && response.success){
						if(response.data.length > 0){
							$("#employees-table tbody").html("");
							for(var i = 0; i < response.data.length; i++){
								var data = response.data[i];
								var row  = $('<tr />');
								$("#employees-table tbody").append(row);
								row.append('<td>' + data.firstname + '</td>');
								row.append('<td>' + data.lastname + '</td>');
								row.append('<td>' + data.username + '</td>');
								row.append('<td><div class="ui icon basic compact buttons right floated"><button type="button" class="ui button tooltip" data-action="delete-employee" data-content="Poista" data-id="' + data._id + '"><i class="remove red icon"></i></button><button type="button" class="ui button tooltip" data-action="edit-employee" data-content="Muokkaa" data-id="' + data._id + '"><i class="edit black icon"></i></button></div></td>');
							}
							$(".tooltip").popup();
						}
					}else{
						alert("Failed to load data: " + data.message);
					}
				},
				error: function(err){
					alert("Failed to load data: " + JSON.stringify(err));
				}
			});
		}

		$(document).on('click', 'button[data-action=save-employee]', function(){
			var firstname = $("input[name=firstname]").val();
			var lastname  = $("input[name=lastname]").val();
			var username  = $("input[name=username]").val();
			var password  = $("input[name=password]").val();
			if(firstname == ''){
				alert('Etunimi puuttuu');
				return;
			}
			if(lastname == ''){
				alert('Sukunimi puuttuu');
				return;
			}
			if(username == ''){
				alert('Käyttäjänimi puuttuu');
				return;
			}
			if(password == ''){
				alert('Salasana puuttuu');
				return;
			}

			$.ajax({
				url: '/api/employees',
				method: 'POST',
				type: 'JSON',
				data: {firstname: firstname, lastname: lastname, username: username, password: password},
				success: function(response){
					if(!!response.success && response.success){
						alert('Työntekijä lisätty!');
						location.reload();
					}else{
						alert(response.message);
					}
				},
				error: function(err){
					alert(JSON.stringify(err));
				}
			});
		});

		$("#modal-add-employee").modal();
		$(document).on('click', 'button[data-action=add-employee]', function(){
			$("#modal-add-employee").modal('show');
		});

		$(document).on('click', 'button[data-action=delete-employee]', function(){
			if(confirm('Haluatko varmasti poistaa tämän työntekijän?')){
				var id = $(this).data('id');
				$.ajax({
					url: '/api/employees/' + id,
					method: 'DELETE',
					type: 'JSON',
					success: function(response){
						if(!!response.success && response.success){
							alert('Työntekijä poistettu!');
							location.reload();
						}else{
							alert(response.message);
						}
					},
					error: function(err){
						alert(JSON.stringify(err));
					}
				});
			}
		});


		$(function(){
			loadEmployees();
		});