extends ../layouts/admin.pug

block content
        h1.ui.dividing.header Reitit
        button(data-action="add-route").ui.icon.orange.button Lisää uusi reitti
        table.ui.table#routes-table
            thead
                tr
                    th Reitti
                    th
            tbody
                tr
                    td
                    td

        .ui.modal#modal-add-route
            i.close.icon
            .header Lisää uusi reitti
            .content
                .description
                    .ui.form
                        .field
                            label Reitin nimi
                            input(type="text", name="routeName")
                        button(type="button", data-action="save-route").ui.orange.button Lisää reitti
            .actions
                .ui.button Peruuta

block scripts
    script.
        function loadRoutes(){
            $.ajax({
                url: "http://localhost:8080/api/routes",
                method: "GET",
                type: "JSON",
                success: function(response){
                    if(!!response.success && response.success == true){
                        if(response.data.length > 0){
                            $("#routes-table tbody").html("");
                            for(var i = 0; i < response.data.length; i++){
                                var row = $('<tr />');
                                $("#routes-table tbody").append(row);
                                row.append('<td>' + response.data[i].name + '</td>');
                                /*
                                row.append('<td><div class="ui icon basic compact buttons right floated"><button type="button" class="ui button tooltip" data-action="delete-route" data-content="Poista" data-id="' +
                                    data._id + '"><i class="remove red icon"></i></button><button type="button" class="ui button tooltip" data-action="edit-route" data-content="Muokkaa" data-id="' +
                                    data._id + '"><i class="edit black icon"></i></button></div>');
                                row.append('<td/>');
                                */

                                row.append("<td><div class='ui icon basic compact buttons right floated'>" +
                                    "<button class='ui button tooltip' data-action='delete-route'><i class='remove red icon'/></button>" +
                                    "<button class='ui button tooltip' data-action='edit-route'><i class='edit black icon'/></button>" +
                                    "</div></td>");
                            }
                        }
                    }else{
                        alert("Failed to load data: " + data.message);
                    }
                },
                error: function(err){
                    alert("Failed to load data: " + JSON.stringify(err));
                }
            });
        }

        $(function(){
            loadRoutes();
        });

        $(document).on('click', 'button[data-action=save-route]', function () {
            var routeName = $("input[name=routeName]").val();

            if (routeName == '') {
                alert('Reitti puuttuu');
                return;
            }

            $.ajax({
                url: '/api/routes',
                method: 'POST',
                type: 'JSON',
                data: {name: routeName},
                success: function (response) {
                    if (!!response.success && response.success) {
                        alert('Reitti lisätty!');
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (err) {
                    alert(JSON.stringify(err));
                }
            });
        });

        $("#modal-add-route").modal();
        $(document).on('click', 'button[data-action=add-route]', function () {
            $("#modal-add-route").modal('show');
        });

        $(document).on('click', 'button[data-action=delete-route]', function () {
            if (confirm('Haluatko varmasti poistaa tämän reitin?')) {
                var id = $(this).data('id');
                $.ajax({
                    url: '/api/routes/' + id,
                    method: 'DELETE',
                    type: 'JSON',
                    success: function (response) {
                        if (!!response.success && response.success) {
                            alert('Reitti poistettu!');
                            location.reload();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function (err) {
                        alert(JSON.stringify(err));
                    }
                });
            }
        });
