extends ../layouts/admin.pug

block content
  h1.ui.dividing.header= title

  table.ui.table#list-table
    thead
      tr
        th #
        th Työntekijä
        th Teho
    tbody
      tr
        td(colspan="4") Ei työntekijöitä.

block scripts
  script.
    function loadList(){
      $.ajax({
        url: "http://localhost:8080/api/workdays",
        method: "GET",
        type: "JSON",
          success: function(response){
            if(!!response.success && response.success == true){
              if(response.data.length > 0){
                $("#list-table tbody").html("");
                var count = 1;
                var list = [];
                  console.log(list);
                for(var i = 0; i < response.data.length; i++){
                    var data = response.data[i];
                    var eff = calcEff(data);
                    list.push(eff);
                }
                list.sort();

                for(var p = 0; p < list.length; p++){
                  var row = $('<tr />');
                  $("#list-table tbody").append(row);
                    row.append('<td>' + count ) + '</td>';
                    row.append('<td>' + data.employee + '</td>');
                    row.append('<td>' + list[i] + '</td>');
                    count++;
                }
              }
            }else{
              alert("Failed to load data: " + data.message);
            }
          },
          error: function(err){
            alert("Failed to load data: " + JSON.stringify(err));
          }
      });
    }

    $(function(){
      loadList();
    });

    function setDefaultVal(value, defaultValue){
      return (value === undefined) ? defaultValue : (value == null) ? defaultValue : value;
    }

    function calcEff(data) {
        var pD = data.deliveries.postnord.delivery;
        var pP = data.deliveries.postnord.pickup;
        var pU = data.deliveries.postnord.unknown;
        var pNt = data.deliveries.postnord.nt;
        var bD = data.deliveries.bring.delivery;
        var bP = data.deliveries.bring.pickup;
        var bDhl = data.deliveries.bring.dhl_return;
        var bNt = data.deliveries.bring.nt;
        var time = (data.stop_time - data.start_time) - data.breaks;
        var ifNull = [pD, pP, pU, pNt, bD, bP, bDhl, bNt];
        var sum;
        for (var i = 0; i < ifNull.length; i++) {
            if (ifNull[i] == null) {
                ifNull[i] = 0;
            }
            if (!ifNull[0]) {
                sum = ifNull[i] + ifNull[i - 1];
            } else {
                sum = ifNull[0];
            }
        }

        var efficiency = sum / time;
        console.log(efficiency)
        return efficiency;
    }
