extends ../layouts/admin.pug

block content
	h1.ui.dividing.header Seuranta
	//button(data-action="show-delivery-employee").ui.orange.button Näytä toimitukset by employee
	table.ui.celled.structured.table#deliveries-table
		thead
			tr
				th(rowspan=2) Työntekijä
				th(rowspan=2) Päivä
				th(rowspan=2) Auto
				th(rowspan=2) Reitti
				th(colspan=4) Postnord
				th(colspan=4) Bring
				th(colspan=2) Innight
			tr
				th Jaot
				th Noudot
				th NT
				th Tuntemattomat
				th Jaot
				th Noudot
				th NT
				th Tuntemattomat
				th Paketit
				th Stopit
		tbody
			tr
				td(colspan="7") Ei toimituksia

block scripts
	script.
		function loadDeliveries(){
			$.ajax({
				url: "http://localhost:8080/api/workdays",
				method: "GET",
				type: "JSON",
					success: function(response){
						if(!!response.success && response.success == true){
							if(response.data.length > 0){
								$("#deliveries-table tbody").html("");
								for(var i = 0; i < response.data.length; i++){
									var data = response.data[i];
									var row = $('<tr />');
									$("#deliveries-table tbody").append(row);
									try {
										row.append('<td>' + data.employee + '</td>');
									row.append('<td>' + data.created_at + '</td>');
									row.append('<td>' + data.car + '</td>');
									row.append('<td>' + data.route + '</td>');

									// Postnord
									row.append('<td>' + data.deliveries.postnord.delivery + '</td>');
									row.append('<td>' + data.deliveries.postnord.pickup + '</td>');
									row.append('<td>' + data.deliveries.postnord.unknown + '</td>');
									row.append('<td>' + data.deliveries.postnord.nt + '</td>');

									// Bring
									row.append('<td>' + data.deliveries.bring.delivery + '</td>');
									row.append('<td>' + data.deliveries.bring.pickup + '</td>');
									row.append('<td>' + data.deliveries.bring.dhl_return + '</td>');
									row.append('<td>' + data.deliveries.bring.nt + '</td>');


									// Innight
									row.append('<td>' + data.deliveries.innight.packages + '</td>');
									row.append('<td>' + data.deliveries.innight.stops + '</td>');
									}catch(ex){
										//alert(ex);
									}
								}
							}
						}else{
							alert("Failed to load data: " + data.message);
						}
					},
					error: function(err){
						alert("Failed to load data: " + JSON.stringify(err));
					}
				});
			}

			$(function(){
				loadDeliveries();
			});
