extends ../layouts/admin.pug

block content
	h1.ui.dividing.header Seuranta
	//button(data-action="show-delivery-employee").ui.orange.button Näytä toimitukset by employee
	table.ui.celled.structured.table#deliveries-table
		thead
			tr
				th(rowspan=2) Työntekijä
				th(rowspan=2) Päivä
				th(rowspan=2) Auto
				th(rowspan=2) Reitti
				th(colspan=4) Postnord
				th(colspan=4) Bring
				th(colspan=2) Innight
			tr
				th Jaot
				th Noudot
				th NT
				th Tuntemattomat
				th Jaot
				th Noudot
				th NT
				th Tuntemattomat
				th Paketit
				th Stopit
		tbody
			tr
				td(colspan="7") Ei toimituksia

block scripts
	script.
		function loadDeliveries(){
			$.ajax({
				url: "http://localhost:8080/api/workdays",
				method: "GET",
				type: "JSON",
					success: function(response){
						if(!!response.success && response.success == true){
							if(response.data.length > 0){
								$("#deliveries-table tbody").html("");
								for(var i = 0; i < response.data.length; i++){
									var data = response.data[i];
									var row  = $('<tr />');
									$("#deliveries-table tbody").append(row);
									if(data.complete == true){
										row.append('<td>' + setDefaultVal(data.employee, '-') + '</td>');
										row.append('<td>' + setDefaultVal(data.created_at, '-') + '</td>');
										row.append('<td>' + setDefaultVal(data.car, '-') + '</td>');
										row.append('<td>' + setDefaultVal(data.route, '-') + '</td>');

										// Postnord
										row.append('<td>' + setDefaultVal(data.deliveries.postnord.delivery, 0) + '</td>');
										row.append('<td>' + setDefaultVal(data.deliveries.postnord.pickup, 0) + '</td>');
										row.append('<td>' + setDefaultVal(data.deliveries.postnord.unknown, 0) + '</td>');
										row.append('<td>' + setDefaultVal(data.deliveries.postnord.nt, 0) + '</td>');

										// Bring
										row.append('<td>' + setDefaultVal(data.deliveries.bring.delivery, 0) + '</td>');
										row.append('<td>' + setDefaultVal(data.deliveries.bring.pickup, 0) + '</td>');
										row.append('<td>' + setDefaultVal(data.deliveries.bring.dhl_return, 0) + '</td>');
										row.append('<td>' + setDefaultVal(data.deliveries.bring.nt, 0) + '</td>');


										// Innight
										row.append('<td>' + setDefaultVal(data.deliveries.innight.packages, 0) + '</td>');
										row.append('<td>' + setDefaultVal(data.deliveries.innight.stops, 0) + '</td>');
									}
								}
							}
						}else{
							alert("Failed to load data: " + data.message);
						}
					},
					error: function(err){
						alert("Failed to load data: " + JSON.stringify(err));
					}
				});
			}

			$(function(){
				loadDeliveries();
			});

			function setDefaultVal(value, defaultValue){
				return (value === undefined) ? defaultValue : (value == null) ? defaultValue : value;
			}