extends layouts/basiclayout.pug
block content
  script(src='/static/js/startpage.js')
  .ui.container
    img#argLogo.ui.centered.image(src='/static/images/logo.jpg')
    br
    .ui.three.column.grid
      .column
      .column
        .ui.form
          h2 Kuljettaja
          input(type='text', name='employee' placeholder='Nimi')
          h2 Auto
          select#carSelect.ui.fluid.search.selection.dropdown
            option(value='') Valitse auto
            option(value='XXX-313') XXX-313
            option(value='AAA-123') AAA-123
            option(value='BBB-666') BBB-666
            option(value='BBC-505') BBC-505
            option(value='CCL-232') CCL-232
            option(value='WTF-420') WTF-420
            option(value='YOL-069') YOL-069
            option(value='TIS-517') TIS-517
          h2 Reitti
          select#routeSelect.ui.fluid.search.selection.dropdown
              option(value='') Valitse reitti
              option(value='FI/HEL') FI/HEL
              option(value='FI/VAN') FI/VAN
          h2 Kilometrit
          .ui.right.labeled.input
            input(type='number', name='kilometer' placeholder='Aloitus kilometrit')
            .ui.basic.label km
          h2 Aloitus
          input(type='text', name='startTime' placeholder='08:00')
          br
          br
          button#nextBtn.ui.button Seuraava
      .column
