extends layouts/basiclayout.pug
block content
  .ui.container
    img#argLogo.ui.centered.image(src='/static/images/logo.jpg')
    br
    .start-page
      .ui.three.column.grid
        .column
        .column
          .ui.form
            h2 Auto
            select#carSelect.ui.fluid.search.selection.dropdown
              option(value='') Valitse auto
            h2 Reitti
            select#routeSelect.ui.fluid.search.selection.dropdown
                option(value='') Valitse reitti
            h2 Kilometrit
            .ui.right.labeled.input
              input(type='number', name='kilometer' placeholder='Aloitus kilometrit')
              .ui.basic.label km
            h2 Aloitus
            input(id="startTime" type='text', name='startTime' placeholder='08:00')
            br
            br
            button#startWorkday.ui.button Aloita työpäivä
        .column

        .ui.modal#modal-notification
          i.close.icon
          h1.ui.dividing.header
          p.content
          .field
            input(type="hidden", name="id")
          .actions
            Button(type="button", data-action="seen").ui.green.button.cancel OK
    .final-page(style='display: none;')
      h1.ui.dividing.header Jaot &amp; noudot
        .ui.form
          br
          .ui.three.column.grid
            .column
              .ui.block.header
                h3 Postnord
                .field
                  label Jaot
                .field
                  input(type='number', name='distP', placeholder='Jaot')
                .field
                  label Noudot
                  input(type='number', name='pickupP', placeholder='Noudot')
                .field
                  label Tuntemattomat
                  input(type='number', name='unknownP', placeholder='Tuntemattomat')
                .field
                  label Jakamattomat
                  input(type='number', name='ntP', placeholder='Jakamattomat Postnord')
            .column
              .ui.block.header
                h3 Bring
                .field
                  label Jaot
                  input(type='number', name='distB', placeholder='Jaot')
                .field
                  label Noudot
                  input(type='number', name='pickupB', placeholder='Noudot')
                .field
                  label DHL pal
                  input(type='number', name='dhlReturns', placeholder='DHL pal')
                .field
                  label Jakamattomat
                  input(type='number', name='ntB', placeholder='Jakamattomat Bring')
            .column
              .ui.block.header
                h3 Innight
                .field
                  label Paketit
                  input(type='number', name='packages', placeholder='Pakettien määrä')
                .field
                  label Pys&auml;hdykset
                  input(type='number', name='stops', placeholder='Pysähdykset')
          .ui.dividing.header
          .ui.three.column.grid
            .column
              h2 Lopetus
              input#stopTime(type='text', name='stopTime' placeholder='16:00')
              h2 Tauot
              input#breakAmount(type='number', name='breaks' placeholder='Aika minuutteina')
              h2 Kilometrit
              .ui.right.labeled.input
                input(type='number', name='stopKm' placeholder='Lopetus kilometrit')
                .ui.basic.label km
              h2 Kommentit
              input#comment(type='text', name='adtInfo' placeholder='Lisätiedot')
              br
              br
              button#backBtn.ui.button Edellinen sivu
              button#endWorkday.ui.orange.button Lopeta työpäivä
            .column
            .column
    script(src='/static/js/startpage.js')
block scripts