extends ../layouts/basiclayout.pug
block content
    .ui.container
        img#argLogo.ui.centered.image(src='static/images/logo.jpg')
        .ui.three.column.grid
            .column
            .column
                form.ui.form
                    h2 Kuljettaja
                    input#name(type='text', placeholder='Nimi')

                    h2 Auto
                    select#carSelect.ui.dropdown
                        option(value='') Valitse auto
                        option(value='1') Car 1
                        option(value='0') Car 2

                    h2 Reitti
                    select#routeSelect.ui.dropdown
                        option(value='') Valitse reitti
                        option(value='1') FI/HEL
                        option(value='0') FI/VAN
                    h2 Kilometrit

                    .ui.right.labeled.input
                        input#kilometer(type='number', placeholder='Aloitus kilometrit')
                        .ui.basic.label km
                    h2 Aloitus
                    input#startTime(type='text', placeholder='08:00')
                    br
                    br
                    a#nextBtn.ui.button(href='/final') Seuraava
            .column
